@{
    ViewBag.Title = "My Profile";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/Profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="resume-main">
        <div class="left-box">
            <br><br>
            <div class="profile">
                <img src="~/Content/img/Profile.jpg" style="width: 130px; height: 130px;">
            </div>
            <div class="content-box">
                <h2>Profile Info</h2>
                <hr class="hr1">
                <p class="p1">Looking an entry-level opportunity with an esteemed organization where I can utilize my skills & enhance learning in the field of work. Capable of mastering new technologies. </p>

                <h3>Language:</h3>
                <p class="p2">English</p>
                <div id="progress"></div>
                <p class="p2">Filipino</p>
                <div id="progress1"></div>

                <br><br>
                <h2>My Skills</h2>
                <hr class="hr1">
                <br>
                <div class="col-div-6"><p class="p2">CSS</p></div>
                <div class="col-div-6">
                    <i class="fa fa-circle circle"></i>
                    <i class="fa fa-circle circle"></i>
                    <i class="fa fa-circle circle"></i>
                    <i class="fa fa-circle circle1"></i>
                    <i class="fa fa-circle circle1"></i>
                </div>
                <div class="clearfix"></div>
                <div class="col-div-6"><p class="p2">PHP</p></div>
                <div class="col-div-6">
                    <i class="fa fa-circle circle"></i>
                    <i class="fa fa-circle circle"></i>
                    <i class="fa fa-circle circle"></i>
                    <i class="fa fa-circle circle"></i>
                    <i class="fa fa-circle circle1"></i>
                </div>
                <div class="clearfix"></div>
                <div class="col-div-6"><p class="p2">C#</p></div>
                <div class="col-div-6">
                    <i class="fa fa-circle circle"></i>
                    <i class="fa fa-circle circle"></i>
                    <i class="fa fa-circle circle"></i>
                    <i class="fa fa-circle circle1"></i>
                    <i class="fa fa-circle circle1"></i>
                </div>
                <div class="clearfix"></div>
                <div class="col-div-6"><p class="p2">JAVASCRIPT</p></div>
                <div class="col-div-6">
                    <i class="fa fa-circle circle"></i>
                    <i class="fa fa-circle circle"></i>
                    <i class="fa fa-circle circle1"></i>
                    <i class="fa fa-circle circle1"></i>
                    <i class="fa fa-circle circle1"></i>
                </div>

                <div class="clearfix"></div>
                <br>
                <h2>interests</h2>
                <hr class="hr1">
                <br>
                <div class="col-div-3 col3">
                    <i class="fa fa-futbol-o in"></i>
                    <span class="inp">A.I</span>
                </div>
                <div class="col-div-3 col3">
                    <i class="fa fa-futbol-o in"></i>
                    <span class="inp">Esport</span>
                </div>
                <div class="col-div-3 col3">
                    <i class="fa fa-futbol-o in"></i>
                    <span class="inp">Music</span>
                </div>
                <div class="col-div-3 col3">
                    <i class="fa fa-futbol-o in"></i>
                    <span class="inp">Art</span>
                </div>
            </div>
        </div>

        <div class="right-box">
            <h1>
                Jhon Carlo<br>
                <span>Cagomoc</span>
            </h1>
            <p class="p3">Web Developer</p>

            <br>
            <h2 class="heading">Projects Experience</h2>
            <hr class="hr2">
            <br>
            <div class="col-div-4">
                <p class="p5">2021-2022</p>
                <span class="span1">School Management System</span>
            </div>
            <div class="col-div-8">
                <p class="p5">Web Developer</p>
                <span class="span1">built using the Php Framework with mysql database and css bootstrap for designing.</span>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-div-4">
                <p class="p5">2021-2022</p>
                <span class="span1">Contact Person Management System</span>
            </div>
            <div class="col-div-8">
                <p class="p5">Web Designer and Developer</p>
                <span class="span1">Built using The Visual Basic Framework with Sql database for backend.</span>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-div-4">
                <p class="p5">2022-2023</p>
                <span class="span1">Payroll System </span>
            </div>
            <div class="col-div-8">
                <p class="p5">Web Designer and Backend</p>
                <span class="span1">Built using ASP.net framework c# with Oracle database.</span>
            </div>
            <div class="clearfix"></div>

            <br>
            <h2 class="heading">Contact</h2>
            <hr class="hr2">
            <br>
            <div class="col-div-4">
                <p class="p5">Contact No.</p>
                <span class="span1">09606329600</span>
            </div>
            <div class="col-div-8">
                <p class="p5">Address</p>
                <span class="span1">QC, 161 Daisy St., Pasong Tamo</span>
            </div>
            <div class="clearfix"></div>
            <br>
            <div class="col-div-4">
                <p class="p5">Email.</p>
                <span class="span1">Jhoncarlocagomoc@gmail.com</span>
            </div>
            <div class="col-div-8">
                <p class="p5">Other</p>
                <span class="span1">.</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    </div>

</body>
</html>